@media only screen
and (min-device-width : 641px)
and (max-device-width : 1280px) {

    .about-us-content .header {
        font-size: 3rem;
    }

    .about-us-content main {
        border-radius: 2rem 2rem 0 0;
    }

    .about-us-content main .about-us-wrapper {
        width: 80%;
    }

    .about-us-content main .about-us-wrapper .about-us-image img {
        width: 100%;
        border-radius: 2rem;
    }

    .about-us-content main .about-us-wrapper .about-us-text {
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.6rem;
    }
}