.about-us-content .header {
    margin-top: 10rem;
    margin-bottom: 10rem;
    font-family: 'DM Serif Display', serif;
    font-size: 7rem;
    color: #FFFFFF;
    text-align: center;
}

.about-us-content main .about-us-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.about-us-content main {
    background-color: #f5f4ed;
    padding-top: 10rem;
    padding-bottom: 10rem;
    border-radius: 5rem 5rem 0 0;    
}

.about-us-content main .about-us-wrapper .about-us-image img {
    width: 40rem;
    border-radius: 3rem;
}

.about-us-content main .about-us-wrapper .about-us-text {
    color: #3a3726;
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    display: block;
    width: 50%;
    margin-top: 3rem;
}

.about-us-content main div,
.about-us-content .header {
    margin-left: auto;
    margin-right: auto;
}