<div class="about-us-content">

    <div class="header">
        About us
    </div>

    <main>
        <div class="about-us-wrapper">
            <div class="about-us-image">
                <img src="../../assets/about-us1.jpg"/>
            </div>
            <div class="about-us-text">
                Our mission is to connect people in the city of Cagayan de Oro with the best local businesses and points of interest. 
                Whether you're a resident or a visitor, our website is your one-stop-shop for discovering new places to eat, shop, and explore. 
                Founded by a team of local entrepreneurs, our website has quickly become a trusted resource for the community, featuring 
                comprehensive listings, honest reviews, and helpful information about each business. We're committed to promoting local 
                businesses and helping our users find the best experiences in our city. Thank you for choosing us as your guide to all that 
                Cagayan de Oro has to offer!
            </div>
        </div>
    </main>

</div>