@media only screen
and (min-device-width : 641px)
and (max-device-width : 1280px) {

    .big-map-content .map-wrapper .map {
        width: 90%;
    }

    .big-map-content .map-wrapper {
        border-radius: 2rem 2rem 0 0;
    }   

}