<div class="big-map-content">

    <div class="header">
        Discover
    </div>

    <div class="map-wrapper">
        
        <div class="destination-filter">
            <app-filter-dropdown [values]="destinationTypes" (change)="filterMarkers()"></app-filter-dropdown>
        </div>

        <div class="map" *ngIf="destinations.length > 0">
            <app-map 
                [destinations]="destinations" 
                [initialZoom]="MAP_INITIAL_ZOOM" 
            ></app-map>
        </div>
    </div>

</div>