.big-map-content .header {
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-family: 'DM Serif Display', serif;
    font-size: 7rem;
    color: #FFFFFF;
    text-align: center; 
}

.big-map-content .map-wrapper {
    background-color: #f5f4ed;
    padding-top: 10rem;
    padding-bottom: 2rem;
    border-radius: 5rem 5rem 0 0;
}

.big-map-content .map-wrapper .map {
    position: relative;
    width: 90%;
    height: 70rem;
    margin: 0 auto;
}

.destination-filter {
    width: 90%;
    margin: 0 auto 1rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

  
  

