@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {

    .big-map-content .header {
        font-size: 3rem; 
    }

    .big-map-content .map-wrapper .map   {
        width: 90%;
        height: 50rem;
    }

    .big-map-content .map-wrapper {
        border-radius: 2rem 2rem 0 0;
    }

}
