<div class="primary-section-content">
    <main>
        <h1>Explore Cagayan de Oro</h1>
        <h3>Discover the allure of the city!</h3>
        <div class="explore-button">
            <a href="/destinations">Let's Explore</a>
        </div>
    </main>
</div>