@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    div.primary-section-content h1 {
        margin-top: 15rem;
        font-size: 3rem;
    }

    div.primary-section-content h3 {
        font-size: 1.5rem;
    }

    div.primary-section-content .explore-button a {
        font-size: 1.5rem;
    }
}
