div.primary-section-content {
    text-align: center;
    color: #FFFFFF;
}

div.primary-section-content h1 {
    margin-top: 20rem;
    margin-bottom: 2rem;
    font-family: 'DM Serif Display', serif;
    font-size: 7rem;
}

div.primary-section-content h3 {
    font-size: 2rem;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 4rem;
    color: #d9d9d7;
}

div.primary-section-content .explore-button a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'DM Serif Display', serif;
    background-color: #f0582b;
    padding: 2rem;
    display: inline-block;
    border-radius: 5rem;
    margin-bottom: 10rem;
}

div.primary-section-content .explore-button a:hover {
    background-color: #f5f4ed;
    color: #f0582b;
    transition: all 3000ms;
}
