<div class="fourth-section-content">
    <div class="header">
        Loved by many travelers!
    </div>

    <div class="testimonials">
        <div class="testimonial" *ngFor="let testimonial of testimonials">
            <app-testimonial-box [testimonial]="testimonial"></app-testimonial-box>
        </div>
    </div>

</div>