@media only screen
and (min-device-width : 641px)
and (max-device-width : 1280px) {

    .fourth-section-content .testimonials {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}