@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .fourth-section-content .header {
        font-size: 3rem;
    }
    
    .fourth-section-content .testimonials {
        flex-direction: column;
    }
}
