<div class="login-content">
    <div class="login-header">
        <a href="/home">CHADA</a>
    </div>
    
    <div class="login-form">
        
        <div class="error-message" *ngIf="isErrorMessageVisible">
            {{errorMessage}}
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="username">
                <input type="text" class="textbox" formControlName="username" placeholder="Username"/>
            </div>
            <div class="password">
                <input type="password" class="textbox" formControlName="password" placeholder="Password"/>
            </div>

            <div class="login-button">
                <input type="submit" class="button" value="Login" *ngIf="!isLoading" [disabled]="isLoading"/>
                <span class="spinner" *ngIf="isLoading" ></span>
            </div>
        </form>
    </div>
</div>