@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lato:wght@100;300&display=swap');

.login-content {
    background: rgb(42,90,190);
    background: linear-gradient(180deg, rgba(42,90,190,1) 0%, rgba(70,86,181,1) 35%, rgba(182,69,149,1) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.login-content .login-header {
    margin: 0 auto 3rem auto;
}

.login-content .login-header a {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1rem;
    font-size: 3rem;
    text-decoration: none;
}

.login-content .login-header a:hover {
    cursor: pointer;
}

.login-content .login-form form {
    width: 100%;
}

.login-content .login-form {
    margin: 0 auto;
}

.login-content .error-message {
    color: #721c24;
    font-family: 'Lato', sans-serif;
    background-color: #f8d7da;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.login-content .textbox {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    background: #bec4d6;
    opacity: 0.8;
    border: none;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.login-content .login-form .login-button {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 2rem auto;
    text-align: center;
    width: 100%;
    background-color: #f78578;
    opacity: 1;
    box-sizing: border-box;
    height: 3.7rem;
}

.login-content .login-form .login-button input.button:hover {
    cursor: pointer;
    background-color: #e7685a;
    transition: all 1000ms;
}

.login-content .login-form .login-button input.button {
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.spinner {
    border: 4px solid rgba(230, 197, 197, 0.3);
    border-top: 4px solid #FFFFFF;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    animation: spin 0.5s linear infinite;
}
  
@keyframes spin {
    0% { transform: translateY(-50%) rotate(0deg); }
    100% { transform: translateY(-50%) rotate(360deg); }
}