@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {


    .login-content .login-form {
        padding: 1rem;
        width: 100%;
        box-sizing: border-box;
    }

    .login-content .login-form .textbox,
    .login-content .login-form .button {
        width: 100%;
        box-sizing: border-box;
    }

}
