@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .third-section-content .main-heading {
        font-size: 3rem;
    }

    .third-section-content .sub-heading {
        font-size: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .third-section-content .answers-block {
        flex-direction: column;
        gap: 2rem;
    }

    .third-section-content .answer-block h1 {
        font-size: 1.5rem;
    }

    .third-section-content .answer-block p {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}
