.third-section-content {
    background-color: #f5f4ed;
    text-align: center;
    padding-bottom: 10rem;   
}

.third-section-content .main-heading {
    color: #f0582b;
    margin-bottom: 2rem;
    font-family: 'DM Serif Display', serif;
    font-size: 5rem;
}

.third-section-content .sub-heading {
    color: #9f917a;
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    margin-bottom: 7rem;
}

.third-section-content .answers-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.third-section-content .answer-block .image-wrapper {
    padding: 1rem;
    display: inline-block;
    border-radius: 50%;
    background-color: #fafbf8;
    margin-bottom: 4rem;
}

.third-section-content .answer-block .image-wrapper:hover {
    cursor: pointer;
    background-color: #fcc7b7;
    transition: all 1000ms;
}

.third-section-content .answer-block .image-wrapper img {
    padding: 1rem;
}

.third-section-content .answer-block h1 {
    color: #3a3726;
    font-size: 2rem;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 1.5rem;
}

.third-section-content .answer-block p {
    color: #9f917a;
    font-size: 1.5rem;
    width: 70%;
    margin-right: auto;
    margin-left:auto;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 2rem;
}

