<div class="third-section-content">

    <div class="main-heading">How can we serve you?</div>
    <div class="sub-heading">We offer a directory of places you can explore and visit!</div>

    <div class="answers-block">
        <div class="answer-block">
            <div class="image-wrapper">
                <img src="../../../../assets/desert.png"/>
            </div>
            <h1>Find your destination</h1>
            <p>Find your travel destination online. Explore our catalog from the comforts of your own home.</p>
        </div>

        <div class="answer-block">
            <div class="image-wrapper">
                <img src="../../../../assets/cards.png"/>
            </div>
            
            <h1>Know where you're going</h1>
            <p>Choose from an assortment of places that we've cataloged. There's so much to choose from!</p>
        </div>

        <div class="answer-block">
            <div class="image-wrapper">
                <img src="../../../../assets/map.png"/>
            </div>
            <h1>Explore the place</h1>
            <p>Have you picked a place? Check when they're available so you can plan your trip!</p>
        </div>
    </div>

</div>