.secondary-section-content {
    background-color: #f5f4ed;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    border-radius: 5rem 5rem 0 0;
}

.secondary-section-content h1 {
    color: #f0582b;
    margin-bottom: 2rem;
    font-family: 'DM Serif Display', serif;
    font-size: 5rem;
}

.secondary-section-content h3 {
    color: #9f917a;
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    margin-bottom: 7rem;
}

.secondary-section-content .featured-destination img {
    border-radius: 5rem;
    width: 50rem;
}

.secondary-section-content .featured-destination .name {
    margin-top: 3rem;
}

.secondary-section-content .featured-destination .name a {
    color: #3a3726;
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    text-decoration: none;
}

.secondary-section-content .featured-destination .name a:hover {
    color: #f0582b;
    transition: all 1000ms;
}

.secondary-section-content .featured-destination .address {
    color: #9f917a;
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    margin-top: 1rem;
}