<div class="secondary-section-content">
    <h1>
        Featured destination
    </h1>
    <h3>
        See the beauty of Cagayan de Oro easily and safely with Chada. 
    </h3>

    <div class="featured-destination" *ngIf="featuredDestination">
        <img src="{{featuredDestination.imageLink}}">

        <div class="name">
            <a href="{{featuredDestination.businessLink}}">
                {{featuredDestination.name}}
            </a>
        </div>

        <div class="address">
            {{featuredDestination.address}}
        </div>

    </div>
</div>