@media only screen
and (min-device-width : 641px)
and (max-device-width : 1280px) {

    .secondary-section-content {
        border-radius: 2rem 2rem 0 0;
    }
    
    .secondary-section-content .featured-destination img {
        width: 90%;
        border-radius: 2rem;
    }

}