@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {

    .secondary-section-content {
        border-radius: 2rem 2rem 0 0;
    }

    .secondary-section-content h1 {
        font-size: 3rem;
    }

    .secondary-section-content h3 {
        font-size: 1.5rem;
    }

    .secondary-section-content .featured-destination img {
        width: 90%;
        border-radius: 2rem;
    }

    .secondary-section-content .featured-destination .name a {
        font-size: 1.5rem;
    }

    .secondary-section-content .featured-destination .address {
        font-size: 1rem;
        padding: 1rem;
    }
}
