<div class="testimonial">
    <div class="rating">
        <div *ngFor="let star of testimonial.getStarsRating()">
            <img src="../../../assets/{{star}}" />
        </div>
        
    </div>
    <div class="statement">
        {{testimonial.testimony}}
    </div>
    <div class="person">
        <div class="person-image">
            <img src="../../../assets/{{testimonial.image}}">
        </div>
        <div class="person-details">
            <div class="person-name">
                {{testimonial.name}}
            </div>
            <div class="person-title">
                {{testimonial.title}}
            </div>
        </div>
    </div>
</div>