@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .testimonial {
        width: 15rem;
        margin: 0 auto;
        border-radius: 2rem;
        padding: 2rem;
    }

    .testimonial .person img {
        width: 5rem;
        height: 5rem;
    }

    .testimonial .statement {
        min-height: 5rem;
        margin-right: 1rem;
    }

    .testimonial .rating img {
        width: 2rem;
    }

    .testimonial .statement,
    .testimonial .person .person-details .person-name {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .testimonial .person .person-details .person-title {
        font-size: 1rem;
    }
}
