@media only screen
and (min-device-width : 641px)
and (max-device-width : 1280px) {

    .testimonial {
        width: 80%;
        margin: 0 auto;
    }

    .testimonial .statement {
        min-height: 5rem;
    }

}