.testimonial {
    background-color: #ffffff;
    border-radius: 3rem;
    width: 20rem;
    padding: 3rem;
}

.testimonial .person {
    display: flex;
    margin-top: 1rem;    
}

.testimonial .person img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.testimonial .statement {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: 2rem;
    min-height: 10rem;
    line-height: 2rem;
}

.testimonial .rating {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.testimonial .rating img {
    width: 3rem;
}

.testimonial .statement,
.testimonial .person .person-details .person-name {
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    color: #3a3726;
    text-align: left;
}

.testimonial .person .person-details .person-name {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.testimonial .person .person-details .person-title {
    color: #9f917a;
    text-align: left;
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
}
