<div class="home-content">
    <app-primary-section></app-primary-section>
    <app-secondary-section></app-secondary-section>
    <app-third-section></app-third-section>
    <app-fourth-section></app-fourth-section>
    <app-fifth-section></app-fifth-section>
</div>