@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    
    .destinations-content .destination-list{
        border-radius: 2rem 2rem 0 0;
    }

    .destinations-content .header {
        font-size: 3rem; 
    }

    .destinations-content .destination {
        width: 90%;
    }

    .pagination {
        gap: 0.5rem;
    }

    .pagination a,
    .pagination .current {
        font-size: 1rem;
        padding: 0.5rem;    
    }

    .destinations-content .search-bar-wrapper input {
        border-radius: 1rem;
    }
}
