@media only screen
and (min-device-width : 641px)
and (max-device-width : 1280px) {

    .destinations-content .destination {
        width: 100%;
    }

    .destinations-content .search-bar-wrapper input {
        border-radius: 1rem;
    }

    .destinations-content .destination-list{
        border-radius: 2rem 2rem 0 0;
    }

}