.destinations-content .header {
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-family: 'DM Serif Display', serif;
    font-size: 7rem;
    color: #FFFFFF;
    text-align: center; 
}

.destinations-content .search-bar-wrapper input::placeholder {
    font-family: 'DM Serif Display', serif;
}

.destinations-content .search-bar-wrapper {
    margin-bottom: 5rem;
}

.destinations-content .search-bar-wrapper form {
    text-align: center;
}

.destinations-content .search-bar-wrapper input {
    text-align: left;
    border-radius: 5rem;
    background-color: #f5f4ed;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    margin: 0 auto;
    font-family: 'DM Serif Display', serif;
    color: #3a3726;
    border: none;
}

.destinations-content .destination-list {
    background-color: #f5f4ed;
    padding-top: 10rem;
    padding-bottom: 2rem;
    border-radius: 5rem 5rem 0 0;
}

.destinations-content .destination {
    width: 60rem;
    margin: 0 auto 3rem auto;
}

.loading {
    text-align: center;
    color: #9f917a;
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    line-height: 2.5rem;
}

.destination-list-empty {
    text-align: center;
    color: #9f917a;
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
}

.destination-list-empty > .empty-list-image {
    width: 5rem;
    display: block;
    margin: 3rem auto 2rem;
}

.pagination {
    background-color: #f5f4ed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.pagination a,
.pagination .current {
    background-color: #ffffff;
    padding: 1rem;
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    border-radius: 1rem;
}

.pagination a {
    color: #9f917a;
}

.pagination .current {
    color: #3a3726;
}

.pagination a:hover {
    cursor: pointer;
    color: #f0582b;
    transition: all 1000ms;
}

.pagination > div > a {
    float: left;
}