
<div class="destinations-content">

    <div class="header">
        Destinations
    </div>

    <div class="search-bar-wrapper">
        <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
            <input class="search-bar" type="text" name="searchQuery" formControlName="searchQuery" placeholder="search"/>
        </form>
    </div>

    <div class="destination-list">
        <div class="loading" *ngIf="!isPageReady && destinations.length === 0">
            Loading...
        </div>

        <div class="destination" *ngFor="let destination of destinations | paginate: { id: 'server', totalItems: totalElements, itemsPerPage: ITEMS_PER_PAGE, currentPage: currentPage }">
            <app-destination-box [destination]="destination"></app-destination-box>
        </div>

        <div class="destination-list-empty" *ngIf="isPageReady && destinations.length === 0">
            <img class="empty-list-image" src="../../assets/empty-list.png"/>
            No results found.
        </div>
    </div>

    <div *ngIf="isPageReady && destinations.length > 0 && totalElements > ITEMS_PER_PAGE">
        <pagination-template 
            #p="paginationApi"
            id="server"
            (pageChange)="goToPage($event)">

            <div class="pagination">
                <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                    <a *ngIf="!p.isFirstPage()" (click)="p.previous()"> < </a>
                </div>

                <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                    <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                        <span class="page-number">{{ page.label }}</span>
                    </a>
                    <div *ngIf="p.getCurrent() === page.value">
                        <span class="page-number">{{ page.label }}</span>
                    </div>
                </div>

                <div class="pagination-next" [class.disabled]="p.isLastPage()">
                    <a *ngIf="!p.isLastPage()" (click)="p.next()"> > </a>
                </div>
            </div>

        </pagination-template>
    </div>
    

</div>