app-modal {
    display: none;
    width: 100%;
    height: 100%;
}

app-modal .modal {
    position: fixed;
    inset: 0;
    z-index: 10000;
    background-color: rgba(0,0,0,0.75);
    padding: 3rem;
    overflow: auto;
}

app-modal .modal-body {
    padding: 3rem;
    background: #FFFFFF;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #9f917a;
    font-size: 1.5rem;
    font-family: 'DM Serif Display', serif;
}

body.modal-open {
    overflow: hidden;
}
