@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {

    app-modal .modal-body {
        height: 18rem;
        width: 18rem;
        border-radius: 1rem;
        padding: 1rem;
    }

}
