.fifth-section-content {
    background-color: #312d1a;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10rem;
}

.fifth-section-content .left-section .header {
    color: #FFFFFF;
    font-size: 5rem;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 5rem;
}

.fifth-section-content .left-section .action a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'DM Serif Display', serif;
    background-color: #f0582b;
    padding: 2rem;
    display: inline-block;
    border-radius: 5rem;
}

.fifth-section-content .right-section .header {
    color: #9f917a;
    font-size: 2rem;
    font-family: 'DM Serif Display', serif;   
}

.fifth-section-content .right-section .image-previews {
    margin-top: 2rem;
    margin-bottom: -2px;
}

.fifth-section-content .right-section .image-previews img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    margin-right: 2rem;
    border-radius: 3rem 3rem 0 0;
}