<div class="fifth-section-content">
    <div class="left-section">
        <div class="header">Let's explore the <br/> beauty of CDO.</div>
        <div class="action">
            <a href="/destinations">Get started</a>
        </div>
    </div>
    <div class="right-section">
        <div class="header">
            Don't miss out on our great suggestions!
        </div>
        <div class="image-previews">
            <img src="../../../../assets/fifth-section1.jpg"/>
            <img src="../../../../assets/fifth-section2.jpg"/>
            <img src="../../../../assets/fifth-section3.jpg"/>
        </div>
    </div>
</div>