@media only screen
and (min-device-width : 641px)
and (max-device-width : 1280px) {

    .fifth-section-content {
        flex-direction: column;
        gap: 1rem;
        padding-top: 5rem;
    }

    .fifth-section-content .left-section {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .fifth-section-content .left-section .header {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    .fifth-section-content .left-section .action {
        text-align: center;
    }

    .fifth-section-content .left-section .action a {
        font-size: 1.5rem;
    }

    .fifth-section-content .right-section .image-previews img {
        display: none;
    }

    .fifth-section-content .right-section .header {
        text-align: center;
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}