<div class="content-wrapper">
    <div class="content">
      <div class="navbar">
        <div class="brand-name">
          <a routerLink="/home">
            Chada
          </a>
        </div>
        <ul>
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/destinations" routerLinkActive="active">Destinations</a></li>
          <li><a routerLink="/map" routerLinkActive="active">Discover</a></li>
        </ul>
      </div>
       
      <router-outlet></router-outlet>
      
      <footer>
        <div>
          <div class="left-side">
            <div class="heading">
              Chada  
            </div>
            <div class="sub-heading">
              Enjoy your travels with Chada!
            </div>  
          </div>
          <div class="right-side">
            <div class="menu">
              <ul>
                <li class="menu-header">Menu</li>
                <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/destinations" routerLinkActive="active">Destinations</a></li>
                <li><a routerLink="/map" routerLinkActive="active">Discover</a></li>
                <li><a routerLink="/about-us" routerLinkActive="active">About us</a></li>
              </ul>
            </div>
          </div>
        </div>
  
        <hr/>
  
        <div class="copyright">
          © {{currentYear}} Chada LTD. All rights reserved
        </div>
      </footer>
    </div>
</div>