@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .navbar {
        width: 100%;
        flex-direction: column;
    }

    .navbar .brand-name {
        text-align: center;
    }

    .navbar .brand-name a {
        color: #f0582b;
    }

    .navbar ul {
        gap: 2rem;
        margin-top: 3rem;
        justify-content: center;
    }

    .navbar ul li {
        margin-left: 0rem;
    }

    footer div {
        flex-direction: column;
    }

    footer div div.left-side {
        margin: 0;
        width: 100%;
    }

    footer div div.left-side .heading {
        font-size: 3rem;
        text-align: center;
    }

    footer div div.left-side .sub-heading {
        font-size: 1.5rem;
        text-align: center;
        line-height: 1.5rem;
    }

    footer div div.right-side .menu .menu-header {
        font-size: 1.5rem;
        text-align: center;
    }

    footer div div.right-side .menu a {
        font-size: 1rem;
    }

    footer div div.right-side .menu ul li {
        text-align: center;
    }

    footer .copyright {
        font-size: 1rem;
        line-height: 1rem;
        text-align: center;
        display: block;
        width: 100%;
    }
    
}
