.content-wrapper {
    background: no-repeat url("../../assets/primary-image1.jpg");
    background-size: cover;
}

.navbar {
    width: 70%;
    margin: 0 auto;    
    color: #FFFFFF;
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}

.brand-name a {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    margin-left: 5rem;
}

.navbar ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar ul li a:hover{
    text-decoration: underline;
}

.navbar ul li a.active {
    color: #f0582b;
}

footer {
    background-color: #f5f4ed;
    padding-bottom: 10rem;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
    width: 78%;
    margin: 0 auto;
}

footer div div {
    flex-grow: 4;
}

footer div div.left-side {
    display: flex;
    flex-direction: column;
}

footer div div.left-side .heading {
    color: #3a3726;
    font-family: 'DM Serif Display', serif;
    font-size: 5rem;
    text-align: left;
    display: block;
}

footer div div .sub-heading {
    color: #9f917a;
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: left;
    display: block;
}


footer div div.right-side .menu .menu-header {
    color: #3a3726;
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    text-align: left;
}

footer div div.right-side .menu ul li {
    margin-top: 1rem;
}

footer div div.right-side .menu a {
    color: #9f917a;
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    text-align: left;
    text-decoration: none;
}

footer div div.right-side .menu a:hover {
    color: #f0582b;
    transition: all 1000ms;
}

footer hr {
    margin-top: 5rem;
    width: 70%;
    border: none;
    border-top: solid #eae6e0 5px;
}

footer .copyright {
    color: #9f917a;
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: left;
    display: block;
    width: 70%;
    margin: 1rem auto auto;
}

footer div div.right-side .menu a.active {
    color: #f0582b;
}