@media only screen
and (min-device-width : 641px)
and (max-device-width : 1280px) {

    footer div {
        width: 90%;
    }    

    footer hr {
        width: 90%;
    }

    footer .copyright {
        width: 90%;
    }

}