.dropdown {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
}

.dropdown div {
    font-family: 'DM Serif Display', serif;
    color: #FFFFFF;
    background-color: #9f917a;
    padding: 1rem;
}

.dropdown div:hover {
    cursor: pointer;
}

.dropdown-content {
    z-index: 100000000000 !important;
    display: none;
    position: absolute;
    right: 0;
    background-color: #FFFFFF;
    min-width: 200px;
    color: #3a3726;
    font-family: 'DM Serif Display', serif;
}

.dropdown-content li {
    padding: 1rem;
}

.dropdown-content li:hover {
    background-color: #f5f4ed;
    color: #f0582b;
    cursor: pointer;
}

.container {
    display: block;
    position: relative;
    padding-left: 2.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #e0dede;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #f0582b;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 0.5rem;
    top: 0.2rem;
    width: 0.3rem;
    height: 0.7rem;
    border: solid #FFFFFF;
    border-width: 0 0.3rem 0.3rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.dropdown.active .dropdown-content {
    display: block;
}