<div class="filter">
    <div class="dropdown" (click)="isDropdownVisible = !isDropdownVisible" [class.active]="isDropdownVisible">
        <div>Filter</div>
        <ul class="dropdown-content" *ngIf="isDropdownVisible" (click)="$event.stopPropagation()">
            <li *ngFor="let value of values">
                <label class="container">
                    {{ value.label }}
                    <input type="checkbox" (change)="onCheckboxChange(value, $event)" [checked]="value.isChecked">
                    <span class="checkmark"></span>
                </label>
            </li> 
        </ul>
    </div>
</div>