@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .destination-content {
        grid-template-columns: 1fr;
        border-radius: 2rem;
        padding: 1rem;
    }

    .destination-content .image {
        width: 100%;
    }

    .destination-content .image img {
        width: 100%;
        height: 20rem;
        border-radius: 2rem;
        margin: 0 auto;
    }

    .destination-content .details {
        margin-top: 1rem;
        text-align: center;
    }

    .destination-content .details .name a {
        font-size: 1.5rem;
    }

    .destination-content .details .address,
    .destination-content .details .phone-number {   
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
}
