<div class="destination-content">
    <div class="image">
        <img src="{{destination.imageLink}}"/>
    </div>
    <div class="details">
        <div class="name">
            <a href="{{destination.businessLink}}" target="_blank">
                {{destination.name}}
            </a>
        </div>
        <div class="address" (click)="openAddressModal()">
            {{destination.address}}
        </div>
        <div class="phone-number">
            {{destination.phoneNumber}}
        </div>
    </div>

    <app-modal id="map-{{destination.id}}">
        <div class="map-wrapper" *ngIf="destination && destination?.latitude !== null && destination?.longitude !== null && isModalOpen">
            <app-map 
                [destinations]="[destination]" 
                [initialZoom]="MAP_INITIAL_ZOOM">
            </app-map>
        </div>
    </app-modal>
</div>