.destination-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;  
    border-radius: 5rem;
    padding: 2rem;       
}

.destination-content .details {
    font-family: 'DM Serif Display', serif;
    margin-top: 3rem;
}

.destination-content .details .name {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: #9f917a 5px dotted;
}

.destination-content .details .name a {
    color: #3a3726;
    text-decoration: none;
    font-size: 2rem;
}

.destination-content .details .name a:hover {
    color: #f0582b;
    transition: all 1000ms;
}

.destination-content .details .address:hover {
    cursor: pointer;
}

.destination-content .details .address,
.destination-content .details .phone-number {
    color: #9f917a;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.destination-content .image img {
    width: 25rem;
    height: 25rem;
    border-radius: 5rem;
    object-fit: cover;
    right: 0;
}

.map-wrapper {
    position: relative;
    height: 50rem;
    width: 50rem;
}