@media only screen
and (min-device-width : 641px)
and (max-device-width : 1280px) {
    
    .destination-content {
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0 auto;
        border-radius: 2rem;
    }

    .destination-content .image {
        width: 100%;
    }

    .destination-content .image img {
        width: 100%;
        height: 40rem;
        border-radius: 2rem;
        margin: 0 auto;
    }

    .destination-content .details {
        margin-top: 1rem;
        text-align: center;
    }
}